@font-face {
  font-family: 'zelda-origText';
  src: url('../../fonts/retGanon.ttf'); 
}

@font-face {
	font-family: 'Logo-text';
	src: url('../../fonts/HyliaSerifBeta-Regular.otf')
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

@import url('https://fonts.googleapis.com/css?family=VT323');